body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  border: 1px solid;
}

.title {
  background: #e3f4ff;
  margin: 15px 6px;
}

.content {
  background: #e3f4ff;
  margin: 15px 6px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin: 15px 6px;
  padding: 5px;
}

button {
  background: white;
  border: 1px solid #eee;
  margin: 2px;
  /* text-align: center; */
}
