.para {
  font-weight: 1000;
  font-size: x-large;
}

.small-para {
  font-weight: 1000px;
  font-size: 1em;
}

#confirm-button {
  background-color: green;
  color: white;
  font-weight: bolder;
  font-size: large;
}

#cancel-button {
  background-color: white;
  color: black;
  font-weight: lighter;
  font-size: large;
}

.text {
  font-size: x-large;
}

.text.child {
  font-size: large;
  font-weight: bolder;
}
